.add_navi {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0 8px;
}

.navies {
  display: flex;
  gap: 12px;
}

.navi:hover {
  cursor: pointer;
  text-decoration: underline;
}
