.choice {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 4px;
}

.lbl {
  line-height: 30px;
}

.isbn {
  text-align: left;
  padding: 4px;
  border-bottom: 1px solid #aaa;
  width: 120px;
}
